.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
esbuild.webview.mjs
vitest.config.ts
**/*.map
**/*.ts
!out/**
node_modules/**
!node_modules/@vscode/ripgrep/**
!node_modules/highlight.js/**
.claude/**
images/*.mp4
images/*.webm
images/icon.svg
